body{
    background-color: rgb(12, 12, 31);
    color: hsla(4, 99%, 41%, 0.973);
    text-align: center;
}


h1 {
    font-family: "Irish Grover", cursive;
    color: #c20606;
}    

/*EXTRA*/
h1:hover{
    color: #9e1616;
    text-decoration: line-through;
    text-shadow: 0 0 10px rgb(3, 1, 7);
}

.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.img1 {
    color: rgb(124, 140, 228);
    display: inline-block;
}

.img2{
    color: rgb(124, 140, 228);
    display: inline-block;
}

.img1, .img2 {
    margin: 20px;
}

.img1, .img2 {
    display: inline-block;
    margin: 20px;
    color: rgb(224, 213, 213);
    text-shadow: 0 0 10px red;
    text-align: center;
}

.img1 img, .img2 img {
    box-shadow: 0 0 15px rgb(184, 3, 3);
}

.dino img{
    margin-top: 20px;
}

.rides {
    display: flex;
    justify-content: center;  
    gap: 20px;        
}       